body {
  background-color: black;
  font-family: Arial;
}

.calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.calculator-button {
  cursor: pointer;
  font-size: 45px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 60px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 5px;
}

.clear {
  font-size: 17px;
}

.grey {
  background-color: rgb(51, 51, 51);
  color: white;
}

.orange {
  background-color: rgb(254, 160, 10);
  color: white;
}